.field {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "label helpIcon"
    "input input"
    "errorMessage errorMessage";
}

.field > label {
  grid-area: label;
  font-size: 1rem;
  color: #efefef;
}

.helpIcon {
  margin-left: 1rem;
}

.field > input {
  grid-area: input;
  margin-top: 0.5rem;

  padding: 1rem;
  outline: none;
  border-style: none;
  border-radius: 0.25rem;
  background-color: #121212;

  font-family: inherit;
  font-size: 1rem;
  color: #efefef;
}

.errorMessage {
  grid-area: errorMessage;
  margin: 0;
  margin-top: 0.25rem;
  padding: 0;

  list-style-type: none;

  text-align: left;
}

.errorMessage > li {
  display: inline;

  height: 100%;
  margin: auto;

  color: #f13f3f;
  font-size: 0.75rem;
}
