.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  margin: 0;

  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
}
